extends layout

block content

 div
  h4 Enter the city or State in the text box correspondingly :
 
 form(name="weatherForm", action="/weather/conditions/current", method="GET")
    h4 City : 
     input(type="text", name="city")
    h4 State : 
     input(type="text", name="state")
    div
     input(type="hidden",name="format",value="list")  
    br
    input(type="submit", value="get")